* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 8%);
  margin-top: 50px;
  font-family: "Inter", sans-serif;
}
.container {
  background-color: hsl(0, 0%, 12%);
  max-width: 370px;
  text-align: center;
  margin: 0 auto;
  padding: 22px;
  border-radius: 15px;

  h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 270;
    font-size: 25px;
  }

  h3 {
    font-size: 15px;
    color: hsl(75, 94%, 57%);
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0.9;
  }

  p{
    color: hsl(0, 2%, 79%);
    margin-bottom: 30px;
    font-size: 14px;
  }
}
img {
  max-width: 140px;
  width: 100%;
  border-radius: 100px;
  padding: 20px;
}

a {
  text-decoration: none;
  display: block;
  color: hsl(0, 0%, 100%);
  padding: 15px;
  margin: 15px;
  font-weight: 500;
}



.social-link-github {
  background-color: hsl(0, 0%, 20%);
  border-radius: 10px;
  padding: 0.8em;
   font-size: 15px;
}

.social-link-github:hover{
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}




.social-link-frontendmentor {
  background-color: hsl(0, 0%, 20%);
  border-radius: 10px;
  padding: 0.8em;
   font-size: 15px;
}

.social-link-frontendmentor:hover{
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

.social-link-LinkedIn {
  background-color: hsl(0, 0%, 20%);
  border-radius: 10px;
  padding: 0.8em;
   font-size: 15px;
}
.social-link-LinkedIn:hover{
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}
.social-link-Twitter {
  background-color: hsl(0, 0%, 20%);
  border-radius: 10px;
  padding: 0.8em;
   font-size: 15px;
}
.social-link-Twitter:hover{
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

.social-link-Instagram {
  background-color: hsl(0, 0%, 20%);
  border-radius: 10px;
  padding: 0.8em;
  font-size: 15px;
}

.social-link-Instagram:hover{
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}
